/* Navbar */
#navbar {
    background-color: #3BACB6;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

nav h1 {
    padding-top: 20px;
    margin-right: auto;
}

#navbar a.nav-links{
    padding: 20px;
}

#navbar a.nav-links:hover {
    background: #82DBD8;
}

@media only screen and (max-width: 768px) {
    #navbar a{
        text-align: center;
    }

    nav h1{
        margin: auto;
    }

    #navbar a.nav-links {
        border-bottom: #82DBD8 1px dotted;
    }
}